<div class="bio">
<h2 class="text-center">
   About Me 
</h2>
<div class="text-right arrow">
    <div class="left"><a routerLink="/" routerLinkActive="active"> <span> <i class="fa fa-angle-double-left"></i> </span> </a>
    </div>
        <div class="right">
            <a routerLink="/skills" routerLinkActive="active"> <span> <i class="fa fa-angle-double-right"></i></span></a>

        </div>
</div>
<hr />
<div class="row">
    <div class="col col-lg-4 text-center">
        <img class="me" src='../../assets/pics/IMG_20210315_175336.jpg' alt="Image here">
    </div>
    <div class="col col-lg-4 text-center">
        
        <p class="quoteline" style="font-family: oswald !important; font-size: 18px !important; font-weight: normal !important;">'First, solve the problem. Then, write the code.'</p>
<ul class="details">
    <li class="detail_list">Hi, my name is Sustain, and I am a Software Developer from Bushbackridge( born and raised) </li >
    <li class="detail_list">Recent Graduate who is Organized and Hardworking Team player with a passion for anything Digital and always ready to learn new concepts</li>
    <li class="detail_list">I see myself as highly motivated person with the right skill set in mind. My main objective is to get better, by learning, seeking opportunities and contributing.
    </li>
    <li class="detail_list"> Programming languages, I worked with include PHP, JavaScript (including JavaScript Libraries andruntime environment), and HTML/Internet</li>
    <li class="detail_list">Basic ASP.NET/ASP.NET CORE with MVC, and Bootstrap 4</li>
    <li class="detail_list">Data Analysis in R programming language and Python</li>
    <li class="detail_list">Knowledge of Networking concepts such as Communication Protocols, Medium Access Protocols andComputer Network Security</li>
</ul>    
</div>
    
    <div class="col col-lg-4 ">
        <div style="color:#333333;">
            <ul class="fa-ul">
                <li><span ><i class="fa fa-calendar"></i></span><strong> birthdate</strong> : 27/02/1998</li>
                <hr />
                <li><span><i class="fa fa-phone"></i></span><strong> phone</strong> : +276 499 41969</li>
                <hr />
                <li><span><i class="fa fa-envelope"></i></span><strong> email</strong> : welcoomesustain5@gmail.com</li>
                <hr />
                <li><span><i class="fa fa-code-fork"></i></span><strong> repository</strong> : https://github.io/sustain-welcome
</li>	        <hr />
                <li><span><i class="fa fa-home"></i></span><strong> address</strong> :House no 1318,Dwarsloop phase 2,1285</li>
            </ul></div>
    </div>
</div>
<hr />
<div class="row support">
    <div class="col col-lg-4 text-center"><span><i class="fa fa-code"></i></span> Web development </div>
    <div class="col col-lg-4  text-center"><span><i class="fa fa-desktop"></i></span> Scraper</div>
    <div class="col col-lg-4  text-center"><span><i class="fa fa-line-chart"></i></span> Data Analysis</div>
</div>

</div>