<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
        <div class="text-right arrow">
            <div class="left"><a routerLink="/hobbies" routerLinkActive="active"> <span> <i class="fa fa-angle-double-left"></i> </span> </a>
            </div>
                <div class="right">
                    <a routerLink="/email" routerLinkActive="active"> <span> <i class="fa fa-angle-double-right"></i></span></a>
        
                </div>
        </div>
      <div class="row">
        <div class="col-lg-5 col-xs-12 socials">
          <h2>Socials</h2>
          <p class="pr-5 text-white-50">Connect with me on My socials </p>
          <p><a class="icon" href="#"><i class="fa fa-facebook-square"></i></a> | <a class="icon" href="https://www.linkedin.com/in/sustain-shingange-62ba98136/"><i class="fa fa-linkedin-square"></i></a>
          | <a class="icon" href="https://twitter.com/@welcomesustain1"><i class="fa fa-twitter-square"></i></a></p>
        </div>
        <div class="col-lg-3 col-xs-12 links">
          <h4 class="mt-lg-0 mt-sm-3">Links To projects</h4>
          <div class="link">
               <a href="https://github.com/welcomesustain/Employee_Management"><span> <i class="fa fa-code-fork"></i></span> Git Repository</a>
            </div>
           
        </div>
        <div class="col-lg-4 col-xs-12 location">
          <h4 class="mt-lg-0 mt-sm-4">Other Location</h4>
          <p>P.O.Box 1105A, Thulamahashe, 1365</p>
          <p class="mb-0"><i class="fa fa-phone mr-3"></i>072-224-2740</p>
          <p><i class="fa fa-envelope-o mr-3"></i>welcoomesustain5@gmail.com</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col copyright">
          <p class=""><small class="text-white-50">© 2021. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
    </div>