.navbar{
    border-radius: 0;
    margin-bottom: 0px;
}
.block{
    padding-bottom: 30px;
    width: 100%;
}

.masthead {
    padding: 6em 0;
    background-image: url(https://images.unsplash.com/photo-1617209637651-60d6f23bc3a4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80);    background-color: #53444B;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    text-align: center;
    
  }
  p {
    text-indent: 50px;
  }

  .social > li {
    display: inline-block    
  }
  introduction-section > p,
  .location-section > p,
  .content-footer > p {
    font-weight: 300;
    letter-spacing: 0.05em;
    color: white;
  }
  .hobbies-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
  }
  .masthead-intro{
    color: black;
  }
  .masthead-heading{
    color: rgb(0, 0, 0);
  }
  @media only screen and (max-width: 600px) {
    .masthead-intro {
      color: rgb(216, 243, 252);
      font-weight: 100s;
    }
    .masthead-heading{
      color: rgb(215, 225, 228);
    }
  }