.navbar{
    border-radius: 0;
    margin-bottom: 0px;
}
.block{
    padding-bottom: 30px;
    width: 100%;
}

.masthead {
    padding: 6em 0;
      background-image: url(https://unsplash.imgix.net/uploads/1411589183965bdf6e141/5f468e98?q=75&fm=jpg&s=007333c388fb36767cbd152600bea6b8);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #53444B;
    height: 45vh;
    text-align: center;
  }
  p {
    text-indent: 50px;
  }

  .social > li {
    display: inline-block    
  }
  introduction-section > p,
  .location-section > p,
  .content-footer > p {
    font-weight: 300;
    letter-spacing: 0.05em;
    color: white;
  }
  .hobbies-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
  }