.skills{
    
    font-size: 25px;
    padding-bottom: 25px;
}
.progress{
    width: 50%;
}

summary{
    font-size: 15px;
    transition: 0.5s ease-in;
}
.logo{
    width: 30px;
    height: 30px;
}

summary:hover{
    font-size: 25px;
}